@{
    ViewData["Title"] = "Главная страница";
}

<h2>Главная страница</h2>

<ul>
    <li><a asp-controller="WeatherArchives" asp-action="ViewWeatherArchives">Просмотр архивов погодных условий в городе Москве</a></li>
    <li><a asp-controller="UploadWeatherData" asp-action="ViewUploadWeatherData">Загрузка архивов погодных условий в городе Москве</a></li>
</ul>